body {
  font-family: "Computer Modern Serif";
  font-size: 16pt;
}

.mediumfont{
  font-size: 125%;

}

ul{
  list-style-type: none;
}

.uppercase{
  text-transform: uppercase;
}

.weeknum{
  -webkit-transform: rotate(-90deg);
}

.blackbackground{
  background-color: black;
}

.graybackground{
  background-color: #D3D3D3;
}

table,th,tr{
  border: 1.5px solid black;
  padding: 0px
}

table{
    border-collapse:collapse;
    margin: auto;
}

.blueborder{
  border-color: #D3D3D3;
}

.whitetext{
  color: white;
}

.italic{
  font-style: Italic;
}

.leftalign{
  text-align: left;
}

.rightalign{
  text-align: right;
}

.space{
  letter-spacing: 2.5px;
}

.topborder{
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 4px;
}

.bottomborder{
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;
}

.centered{
  text-align: center;
}





/* ----------------------------------------------------------------- */
/* The scary stuff below is just to get the right font loaded up.    */
/* Don't worry about it. Write your CSS rules above the dotted line. */
/* I started them off for you with a rule about the body tag.        */

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunrm.eot');
  src: url('fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunrm.woff') format('woff'),
     url('fonts/cmunrm.ttf') format('truetype'),
     url('fonts/cmunrm.svg#cmunrm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbx.eot');
  src: url('fonts/cmunbx.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunbx.woff') format('woff'),
     url('fonts/cmunbx.ttf') format('truetype'),
     url('fonts/cmunbx.svg#cmunbx') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunti.eot');
  src: url('fonts/cmunti.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunti.woff') format('woff'),
     url('fonts/cmunti.ttf') format('truetype'),
     url('fonts/cmunti.svg#cmunti') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbi.eot');
  src: url('fonts/cmunbi.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunbi.woff') format('woff'),
     url('fonts/cmunbi.ttf') format('truetype'),
     url('fonts/cmunbi.svg#cmunbi') format('svg');
  font-weight: bold;
  font-style: italic;
}
